NodeRed-Flows/flows_v1.json
[{"id":"5e3da5ba.b7a18c","type":"debug","z":"8978936e.3ec13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":140,"wires":[]},{"id":"505c47e8.fae5c8","type":"ibmiot in","z":"8978936e.3ec13","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"a434f129b8c2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":380,"wires":[["5e3da5ba.b7a18c","56a3feb2.2d938","6014bfa2.01c0b","6a10d2e5.9b56ac"]]},{"id":"56a3feb2.2d938","type":"wiotp out","z":"8978936e.3ec13","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e4bacc53.0da34","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"SensorWatson","x":380,"y":400,"wires":[]},{"id":"e607f3c2.0a8bf","type":"postgres","z":"8978936e.3ec13","postgresdb":"5b566d54.092374","name":"postgres","output":true,"outputs":1,"x":780,"y":280,"wires":[["5a1e8af1.b36874"]]},{"id":"6014bfa2.01c0b","type":"function","z":"8978936e.3ec13","name":"filter_temp","func":"msg.payload = [\n    {\n        temp: msg.payload.d.temp\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["428ce789.fd4508"]]},{"id":"428ce789.fd4508","type":"debug","z":"8978936e.3ec13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":140,"wires":[]},{"id":"5a1e8af1.b36874","type":"debug","z":"8978936e.3ec13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":260,"wires":[]},{"id":"6a10d2e5.9b56ac","type":"function","z":"8978936e.3ec13","name":"query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'INSERT INTO public.\"temperatures\"(id_turbine, temp_value, temp_scale) values ($id_turbine, $temp_value, $temp_scale)',\n        params: {\n            id_turbine: 1, \n            temp_value : parseInt(msg.payload.d.ambientTemp), \n            temp_scale: 'Celsius', \n        }, \n        \n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["e607f3c2.0a8bf"]]},{"id":"e4bacc53.0da34","type":"wiotp-credentials","z":"","name":"SensorWatson","org":"jc6lyv","serverName":"","devType":"Sensor","devId":"SensorTag","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"5b566d54.092374","type":"postgresdb","z":"","hostname":"35.201.13.235","port":"5432","db":"iot","ssl":false}]