NodeRed-Flows/flows_v1.json
[{"id":"1da67c74.740814","type":"debug","z":"3858b4a0.54077c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":140,"wires":[]},{"id":"ab0eb373.5a65c","type":"ibmiot in","z":"3858b4a0.54077c","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"a434f129b8c2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":380,"wires":[["1da67c74.740814","c6f330e0.f056","ec61905e.d1d65","74740b69.682534"]]},{"id":"c6f330e0.f056","type":"wiotp out","z":"3858b4a0.54077c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e4bacc53.0da34","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"SensorWatson","x":240,"y":520,"wires":[]},{"id":"5cddad1.5b11354","type":"postgres","z":"3858b4a0.54077c","postgresdb":"5b566d54.092374","name":"postgres","output":true,"outputs":1,"x":880,"y":340,"wires":[[]]},{"id":"ec61905e.d1d65","type":"function","z":"3858b4a0.54077c","name":"filter_temp","func":"msg.payload = [\n    {\n        temp: msg.payload.d.temp\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["98e960e2.f1d3a"]]},{"id":"98e960e2.f1d3a","type":"debug","z":"3858b4a0.54077c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":140,"wires":[]},{"id":"6064142a.7959cc","type":"debug","z":"3858b4a0.54077c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":440,"wires":[]},{"id":"724eef16.15801","type":"function","z":"3858b4a0.54077c","name":"query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'INSERT INTO public.\"temperatures\"(id_turbine, temp_value, temp_scale) values ($id_turbine, $temp_value, $temp_scale)',\n        params: {\n            id_turbine: 1, \n            temp_value : parseInt(msg.payload.d.ambientTemp), \n            temp_scale: 'Celsius', \n        }, \n        \n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["5cddad1.5b11354"]]},{"id":"74740b69.682534","type":"timeouttrigger","z":"3858b4a0.54077c","ontimeouttype":"num","ontimeoutval":"1","duration":"3","units":"s","name":"timeout","x":270,"y":400,"wires":[["7592fdb.1d88c04"]]},{"id":"7592fdb.1d88c04","type":"switch","z":"3858b4a0.54077c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":400,"wires":[["724eef16.15801"],["46af9a44.ed1744"]]},{"id":"46af9a44.ed1744","type":"function","z":"3858b4a0.54077c","name":"timeout_query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'INSERT INTO public.\"temperatures\"(id_turbine, temp_value, temp_scale) values ($id_turbine, $temp_value, $temp_scale)',\n        params: {\n            id_turbine: 1, \n            temp_value : -999, \n            temp_scale: 'Celsius', \n        }, \n        \n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["5cddad1.5b11354","6064142a.7959cc"]]},{"id":"e4bacc53.0da34","type":"wiotp-credentials","z":"","name":"SensorWatson","org":"jc6lyv","serverName":"","devType":"Sensor","devId":"SensorTag","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"5b566d54.092374","type":"postgresdb","z":"","hostname":"35.201.13.235","port":"5432","db":"iot","ssl":false}]